
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #E0E4EB;
     overflow: hidden;
}

.sidebar{
    position: fixed;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #121F2F;
    transition: all .5s ease;
    z-index: 110;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position:absolute;
    cursor: pointer;
    background: #121F2F;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 111;
    left: -350px;
    top: 26px;
    font-size: 30px;
    color: #404668;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #cancel{
    left: 350px;

}
#logoLocadora{
    height: 10vh;
}
.headerSidebar{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.footer{
    text-align: center;
    margin-top: 12%;
    margin-left: 30px;
    margin-right: 25px;
    color: white;
    display: flex;
    gap: 15px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border: white;
    border-style: solid;
    width: auto;
    height: 40px;
    border-radius: 8px;
}

/* Biblioteca */



.titulo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
}

#logoWDA{
    margin-left: auto;
    height: 8vh;
}


.main {
  margin-left: 100px;
  transition: margin-left 0.5s ease;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  row-gap: 15px;
}

#check:checked ~ .main {
  margin-left: 400px;
}
/* Barra de Pesquisa */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.searchBar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2%;
}

.search{
    height: 7vh;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    padding-left: 10px;
    color: #121F2F99;
}
#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label{
    height: 20px;
}


.botao{
    width: 16vh;
    height: 7vh;
    border: none;
    border-radius: 15px;
    font-size: large;
    background-color: #F7B176;
    color: #2B324E;
    font-weight: bold;
    /* box-shadow: 1px 1px 1px 1px #fbdc98; */
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao:hover,
.botao:focus {
  box-shadow: 0 0 12px 4px rgba(247, 177, 118, 0.5);
  transform: translateY(-2px);
}

/* tabela */

.tabela {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:  white;
    font-size: 85%;
    color: #2B324E  ;
    padding-bottom: 10px;
}

table {
    width: 100%;
    overflow-x: hidden;
}
td {
    padding: 10px;
}

.cabecalho{
    background-color: #2B324E;
    color: white;
}

table,
td,
th {
  border: none;
  border-collapse: collapse; 
}

.nome{
    width: 15%;
}

tr:hover{
    background-color: #D9D9D9;
}
.cabecalho :hover{
    background-color: #121F2F;
}
.tabela i{
    margin: 3px;
    font-size: large;
}

/* modais */
.conteudoModal h3{
    color: #F7B176;
    text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 112;
}
.conteudoModal {
  background: #2B324E;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: auto;
  height: auto;
  padding: 3%;
  color: white;
}

/* Modal criar */

.modal h1{
    font-weight: bold;
    color: #F7B176;
}
form{
    width: 60vh;
    margin-top: 2%;
}
.form h1{
    color: #F7B176;
}
.form p{
    color: #b2b5cf;
}
.formGroup{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.forms{
    display: flex;
    gap: 2%;
}
.formInput{
    width: 100%;
    padding: 26px 24px 14px 25px;
    border: none;
    /* border-radius: 10px; */
    background-color: #404668;
    color: white;
    font-size: 105%;
    outline: none;
    transition: all 0.3s ease;
}

.formInput:focus{
    box-shadow: inset 6px 0 0 #F7B176;
}

.formLabel{
    position: absolute;
    top: 18px;
    left: 16px;
    color:  #b2b5cf;
    pointer-events: none;
    font-size: 1rem;
    transition: 0.2s ease all;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
    top: 6px;
    font-size: 0.75rem;
    color:  #b2b5cf;
}

.modal input::placeholder{
    color: transparent;
}

.formSelect {
    width: 100%;
    border: none;
    padding: 22px 22px 22px 22px;
    /* border-radius: 10px; */
    background-color: #404668;
    color: white;
    /* font-size: 105%; */
    /* outline: none; */
    transition: all 0.3s ease;
    margin-bottom: 1.6%;
}

.formInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #404668 inset !important;
  -webkit-text-fill-color: white !important;
  border-left: 6px solid #F7B176 !important
}

#cadastro{
    width: 30vh;
}
#cancelar{
    width: 30vh;
    background-color: #404668;
    color: white;
}

.status{
    margin-top: 2%;
    margin-bottom: 3%;
}
#status{
    padding: 2%;
    color: white;
    background-color: #404668;
    border: none;
}
#statusE{
    padding: 2%;
    color: white;
    background-color: #404668;
    border: none;
}
/* modal excluir e editar */
#cancelarExcluir{
    width: 49%;
    color: white;
    background-color: #404668;;
}

#editarbtn{
    width: 49%;
}

#cancelarEditar{
    width: 49%;
    color: white;
    background-color: #404668;;
}

#excluirbtn{
    width: 49%;
}
#cancelarEditarConfirm{
    width: 49%;
    color: white;
    background-color: #404668;;
}

#confirmarEdicaobtn{
    width: 49%;
}

.paginacao-btn {
    background-color: #F7B176;
    color: #121F2F;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginacao-btn:hover:not(:disabled) {
    background-color: #e39b57;
}

.paginacao-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #777;
}

.inputDiv{
    width: 90%;
    padding: 58px 30px 14px 25px;
    border: none;
    /* border-radius: 10px; */
    background-color: #404668;
    color: white;
    font-size: 105%;
    outline: none;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    html, body{
    overflow-x: hidden;
    overflow-y: hidden;
   }

  /* Sidebar*/
  .sidebar {
    width: 300px;
    left: 0;
    transform: translateX(-100%);
  }
  #logoLocadora{
    height: 50px;
  }
  #titulo{
    font-size: 20px;
  }
  #check:checked ~ .sidebar {
    transform: translateX(0);
  }
  .headerSidebar{
    display: flex;
    align-items: center;
  }
  .sidebar ul a{
    font-size: 96%;
  }
  label #cancel {
    left: -10px;
    transform: translateX(-100%);
  }

  #check:checked ~ label #cancel {
    transform: translateX(-225%);
  }
  #check:checked ~ .main {
    margin-left: 0;
  }
  a
label #btn,label #cancel{
    position:absolute;
    cursor: pointer;
    background: #121F2F;
    border-radius: 3px;
}

label #btn{
    left: 10px;
    top:  2%;
    font-size: 30px;
    color: white;
    padding: 1px 6px;
    transition: all .5s;
}
 .footer {
    width: 80%;
    font-size: 16px;
    flex-wrap: wrap;
  }



/* biblioteca */
.main{
    margin-left: 0;
}
.titulo{
    margin-left: 15%;
}
#logoWDA{
    margin-left: 20%;
}
.botao {
    width: 25%;
    font-size: 16px;
}
.searchBar {
    gap: 1%;
}

.search {
    width: 100%;
}

.tabela {
    font-size: 70%;
    overflow-x: auto;
}
td {
    padding: 3px;
    width: 15%;
}
.tabela i{
    margin: 3px;
    font-size: 12px;
}
/* modais */
  .formInput {
    width: 100%;
  }

  form {
    width: 100%;
  }
  .conteudoModal{
    margin: 4%;
    padding: 5%;
  }
#cancelar{
    width: 49.5%;
    float: inline-end;
}
#cadastro{
    width: 49.5%;
}
}
@media screen and (max-width: 600px) {
    table thead {
        display: none; /* esconde os títulos da tabela */
    }

    .tabela {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background: transparent;
        max-height: 400px;
        overflow-y: auto;
    }
    
    tr {
        margin-bottom: 2vh;
        border-radius: 15px;
    }

    table, tbody, tr, td {
        display: block;
        width: 100%;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        color: #121F2F;
        white-space: nowrap;

    }

    .tabela tbody tr:nth-child(even) {
        background-color: #f3f3f3; /* Cor para linhas pares */
    }

    .tabela tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor para linhas ímpares */
    }
}




#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s forwards, fadeOut 0.4s 2.6s forwards;
  font-family: 'Raleway', sans-serif;
}

.toast.success { background-color: #4CAF50; }
.toast.error { background-color: #F44336; }
.toast.warning { background-color: #FF9800; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}


.formSelect.erro {
  border: 2px solid red;
  color: red;
}